<!-- <div class="login-wrapper d-flex flex-column"> <div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="portal-heading fw-bold">WELCOME TO AFC MERCHANT PORTAL</h1>
      </div>
    </div>
  </div>

  <div class="container flex-grow-1 d-flex align-items-center">
    <div class="row align-items-center w-100">

      <div class="col-md-6 text-center d-none d-md-block">
        <div class="illustration-container">
          <div class="circle-bg">
            <img src="/afcholdings.png" alt="Login Illustration" class="img-fluid">
          </div>
          </div>
      </div>

      <div class="col-md-6 col-lg-5 offset-lg-1">
        <div class="login-form-container">
          <h2 class="text-center login-title">Login</h2>

          @if (!isLoggedIn) {
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group custom-input">
              <span class="input-icon"><i class="bi bi-envelope-fill"></i></span>
              <input
                type="text"
                class="form-control rounded-pill"
                name="username"
                placeholder="Email"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
              />
              @if (username.errors && f.submitted) {
              <div class="invalid-feedback ps-4">Username is required!</div>
              }
            </div>

            <div class="form-group custom-input mt-3">
              <span class="input-icon"><i class="bi bi-lock-fill"></i></span>
              <input
                type="password"
                class="form-control rounded-pill"
                name="password"
                placeholder="Password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
              />
              @if (password.errors && f.submitted) {
              <div class="invalid-feedback ps-4">
                Password must be at least 6 characters
              </div>
              }
            </div>

            <div class="form-group mt-4">
              <button class="btn btn-login rounded-pill w-100">LOGIN</button>
            </div>

            @if (f.submitted && isLoginFailed) {
            <div class="alert alert-danger mt-3" role="alert">
              {{ errorMessage }}
            </div>
            }
          </form>
          }

        </div>
      </div>

    </div>
  </div>
</div> -->

<div class="login-screen">
  <div class="login-card">

     <div class="login-logo">
      <img src="logo.png" alt="AFC Commercial Bank" class="logo-img">
    </div>

    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

      <div class="form-group custom-input">
        <label>Email</label>
        <input
        type="text"
        name = "username"
        [(ngModel)]="form.username"
        placeholder="user@afcholdings.co.zw">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
        type="password"
        name = "password"
        [(ngModel)]="form.password"
         placeholder="&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;&#x2022;">
      </div>

      <button type="submit" class="btn-primary" [disabled]="isLoading">
        {{ isLoading ? "Signing in..." : "Access System" }}
      </button>
    </form>

    <div class="login-hint">example: <span>user&#64;afcholdings.co.zw</span></div>
  </div>
</div>
